/* ------------------------------------------------------------------- */
/* Main #274abb
---------------------------------------------------------------------- */
.csm-trigger,
.csm-content h4,
#backtotop a,
#top-bar {
    background-color: #84c229;
}

.custom-zoom-in:hover:before,
.custom-zoom-out:hover:before,
.infoBox-close:hover {
    -webkit-text-stroke: 1px #8bc34a
}

.list-4 li:before,
.list-3 li:before,
.list-2 li:before,
.list-1 li:before {
    color: #8bc34a;
}

.numbered.color ol > li::before {
    border: 1px solid #8bc34a;
    color: #8bc34a;
}

.numbered.color.filled ol > li::before {
    border: 1px solid #8bc34a;
    background-color: #8bc34a;
}

.change-photo-btn:hover,
table.manage-table th,
mark.color {
    background-color: #8bc34a;
}

.user-menu ul li a:hover,
.user-menu.active .user-name:after,
.user-menu:hover .user-name:after,
.user-menu.active .user-name,
.user-menu:hover .user-name,
table.manage-table td.action a:hover,
table.manage-table .title-container .title h4 a:hover,
.my-account-nav li a.current,
.my-account-nav li a:hover,
#footer .social-icons li a:hover i,
#navigation.style-1 .current,
#posts-nav li a:hover,
#top-bar .social-icons li a:hover i,
.agent .social-icons li a:hover i,
.agent-contact-details li a:hover,
.agent-page .agent-name h4,
.footer-links li a:hover,
.header-style-2 .header-widget li i,
.header-widget .sign-in:hover,
.home-slider-desc .read-more i,
.info-box,
.info-box h4,
.listing-title h4 a:hover,
.map-box h4 a:hover,
.plan-price .value,
.plan.featured .listing-badges .featured,
.post-content a.read-more,
.post-content h3 a:hover,
.post-meta li a:hover,
.property-pricing,
.style-2 .trigger a:hover,
.style-2 .trigger.active a,
.style-2 .ui-accordion .ui-accordion-header-active,
.style-2 .ui-accordion .ui-accordion-header-active:hover,
.style-2 .ui-accordion .ui-accordion-header:hover,
.tabs-nav li a:hover,
.tabs-nav li.active a,
.testimonial-author h4,
.widget-button:hover,
.widget-text h5 a:hover,
a,
a.button.border,
a.button.border.white:hover {
    color: #60b977
}

#header-container.top-border {
    border-top: 4px solid #8bc34a
}

#navigation.style-1 .current {
    background-color: transparent;
    border: 1px solid #8bc34a
}

#navigation.style-1 ul li:hover {
    background-color: #8bc34a
}

#navigation.style-2 {
    background-color: #8bc34a
}

.top-border{
    height: 13px;
    background: #8bc34a;
}

.menu-responsive i {
    background: linear-gradient(to bottom, rgba(255, 255, 255, .07) 0, transparent);
    background-color: #8bc34a
}

.checkboxes input[type=checkbox]:checked+label:before,
.range-slider .ui-widget-header,
.search-type label.active,
.search-type label:hover {
    background-color: #8bc34a
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid #8bc34a
}

.agent-avatar a:before {
    background: #8bc34a;
    background: linear-gradient(to bottom, transparent 50%, #8bc34a)
}

.view-profile-btn {
    background-color: #8bc34a
}

.listing-img-container:after {
    background: linear-gradient(to bottom, transparent 60%, #8bc34a)
}

.listing-badges .featured {
    background-color: #60b977
}

.list-layout .listing-img-container:after {
    background: linear-gradient(to bottom, transparent 55%, #8bc34a)
}

#titlebar.property-titlebar span.property-badge,
.back-to-listings:hover,
.home-slider-price,
.img-box:hover:before,
.layout-switcher a.active,
.layout-switcher a:hover,
.listing-hidden-content,
.office-address h3:after,
.pagination .current,
.pagination ul li a.current-page,
.pagination ul li a:hover,
.pagination-next-prev ul li a:hover,
.property-features.checkboxes li:before {
    background-color: #8bc34a
}

.post-img:after,
.tip {
    background: #8bc34a
}

.property-slider-nav .item.slick-current.slick-active:before {
    border-color: #8bc34a
}

.post-img:after {
    background: linear-gradient(to bottom, transparent 40%, #8bc34a)
}

.comment-by a.reply:hover,
.post-img:before {
    background-color: #8bc34a
}

.map-box .listing-img-container:after {
    background: linear-gradient(to bottom, transparent 50%, #8bc34a)
}

#geoLocation:hover,
#mapnav-buttons a:hover,
#scrollEnabling.enabled,
#scrollEnabling:hover,
#streetView:hover,
.cluster div,
.custom-zoom-in:hover,
.custom-zoom-out:hover,
.infoBox-close:hover,
.listing-carousel.owl-theme .owl-controls .owl-next:after,
.listing-carousel.owl-theme .owl-controls .owl-prev:before,
.listing-carousel.owl-theme.outer .owl-controls .owl-next:hover::after,
.listing-carousel.owl-theme.outer .owl-controls .owl-prev:hover::before,
.slick-next:after,
.slick-prev:after {
    background-color: #8bc34a
}

.cluster div:before {
    border: 7px solid #8bc34a;
    box-shadow: inset 0 0 0 4px #8bc34a
}

.mfp-arrow:hover {
    background: #8bc34a
}

.dropzone:hover {
    border: 2px dashed #8bc34a
}

.dropzone:before {
    background: linear-gradient(to bottom, rgba(255, 255, 255, .95), rgba(255, 255, 255, .9));
    background-color: #8bc34a
}

.chosen-container .chosen-results li.highlighted,
.chosen-container-multi .chosen-choices li.search-choice,
.select-options li:hover,
a.button,
a.button.border:hover,
button.button,
input[type=button],
input[type=submit] {
    background-color: #0a8a57
}

.dropzone:hover .dz-message,
.sort-by .chosen-container-single .chosen-default,
.sort-by .chosen-container-single .chosen-single div b:after {
    color: #8bc34a
}

a.button.border {
    border: 1px solid #8bc34a
}

.plan.featured .plan-price {
    background: linear-gradient(to bottom, rgba(255, 255, 255, .1) 0, transparent);
    background-color: #8bc34a
}

.fp-accordion .accordion h3.ui-accordion-header-active,
.trigger.active a,
.ui-accordion .ui-accordion-header-active,
.ui-accordion .ui-accordion-header-active:hover {
    background-color: #8bc34a;
    border-color: #8bc34a
}

.tabs-nav li a:hover,
.tabs-nav li.active a {
    border-color: #8bc34a
}

.style-3 .tabs-nav li a:hover,
.style-3 .tabs-nav li.active a {
    border-color: #8bc34a;
    background-color: #8bc34a
}

.style-4 .tabs-nav li.active a,
.style-5 .tabs-nav li.active a,
table.basic-table th {
    background-color: #8bc34a
}

.info-box {
    border-top: 2px solid #8bc34a;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .98), rgba(255, 255, 255, .95));
    background-color: #8bc34a
}

.info-box.no-border {
    background: linear-gradient(to bottom, rgba(255, 255, 255, .96), rgba(255, 255, 255, .93));
    background-color: #274abb
}

.icon-box-1 .icon-container {
    background-color: #60b977
}


.qtyTotal {
  background-color: #8bc34a;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #8bc34a;
}

.daterangepicker td.in-range {
  background-color: rgba(39, 74, 187,0.07);
  color: #8bc34a;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #8bc34a;
}

.daterangepicker .drp-buttons button.applyBtn,
.daterangepicker .drp-buttons button.cancelBtn {
  background-color: #8bc34a;
}
.daterangepicker .drp-buttons button.applyBtn {
  background-color: #8bc34a;
}

#booking-date-range:hover {
  color: #8bc34a;
}

#booking-date-range span:after {
    color: #8bc34a;
}

.daterangepicker .ranges li.active {
  background-color: #8bc34a;
  color: #fff;
}
.panel-dropdown a:after {
  color: #8bc34a;
}
.time-slot input ~ label:hover {
  color: #8bc34a;
  background-color: rgba(39, 74, 187,0.06);
}

.time-slot input:checked ~ label {
  background-color: #8bc34a;
}
.time-slot label:hover span {
  color: #8bc34a;
}

.cluster div{
    background-color: #109f68 !important;
}